<!DOCTYPE html>
<html>
<head>
  <title>Create Lab</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<style>
  body {
    background-color: #f8f9fa;
    font-family: 'Poppins', sans-serif;
  }

  </style>
<body>


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-4">
    <a class="navbar-brand" href="#">Lab & Class Management</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="/Dashboard">Dashboard</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="BoookingDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Booking
          </a>
          <div class="dropdown-menu" aria-labelledby="BookingDropdown">
            <a class="dropdown-item" href="#">View All Bookings</a>
            <a class="dropdown-item" href="#">Approve Lab Bookings</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="labsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Labs
          </a>
          <div class="dropdown-menu" aria-labelledby="labsDropdown">
            <a class="dropdown-item" href="/createLab">Create Labs</a>
            <a class="dropdown-item" href="/labs">View all Labs</a>
            <a class="dropdown-item" href="/timeslots/add">create a timeslot</a>
            <a class="dropdown-item" href="/timeslots/view">View All TimeSlots</a>

          </div>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="/manage-users">Manage Users</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Generate Reports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
  <h2>Create Lab</h2>

    <form th:action="@{/createLab}" method="post">
      <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" id="name" name="Name" placeholder="Enter Name" required>
      </div>


      <div class="form-group">
        <label for="type">Type</label>
        <select class="form-control" id="type" name="type" required>
          <option value="" disabled selected>Select Type</option>
          <option value="LAB">Lab</option>
          <option value="CLASS">Class</option>
        </select>
      </div>
      <div class="form-group">
        <label for="location">Location</label>
        <input type="text" class="form-control" id="location" name="location" placeholder="Enter location" required>
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>