<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Labs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-4">
        <a class="navbar-brand" href="#">Lab & Class Management</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Dashboard">Dashboard</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="BoookingDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Booking
                    </a>
                    <div class="dropdown-menu" aria-labelledby="BookingDropdown">
                        <a class="dropdown-item" href="#">View All Bookings</a>
                        <a class="dropdown-item" href="#">Approve Lab Bookings</a>
                        <a class="dropdown-item" href="#">Manage Lab Availability</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="labsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Labs
                    </a>
                    <div class="dropdown-menu" aria-labelledby="labsDropdown">
                        <a class="dropdown-item" href="/createLab">Create Labs</a>
                        <a class="dropdown-item" href="/labs">View all Labs</a>
                        <a class="dropdown-item" href="/timeslots/add">create a timeslot</a>
                        <a class="dropdown-item" href="/timeslots/view">View All TimeSlots</a>

                    </div>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="/manage-users">Manage Users</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Generate Reports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1>All Labs and classes </h1>

        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
            <tr>
                <th>Lab Name</th>
                <th>Type</th>
                <th>Location</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="lab : ${labs}">
                <td th:text="${lab.labName}"></td>
                <td th:text="${lab.type}"></td>
                <td th:text="${lab.location}"></td>
            </tr>
            </tbody>
        </table>
    </div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>